.main {
    width: 100%;
    height: 90vh;

    @media (max-width: 1024px) {
        min-height: 50vh;
    }

    @media (max-width: 768px) {
        min-height: auto;
    }

    @media(max-width: 480px) {
        min-height: auto;
    }

    .boxMain {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        padding-top: 2rem;

        @media (max-width: 1024px) {
            width: 90%;
            margin-top: 1.5rem;
        }

        @media (max-width: 768px) {
            width: 95%;
            margin-top: 1rem;
        }

        .boxMainContent {
            width: 50%;
            height: 50%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media (max-width: 1024px) {
                width: 60%;
            }

            @media (max-width: 768px) {
                width: 100%;
            }

            @media(max-width: 480px) {
                height: auto;
                gap: 1rem;
            }

            img {
                width: 40%;
                height: auto;
            }

            h1 {
                font-size: 4rem;
                color: #ffffff;

                @media (max-width: 1024px) {
                    font-size: 3.2rem;
                }

                @media (max-width: 768px) {
                    font-size: 2.6rem;
                }

                @media (max-width: 480px) {
                    font-size: 2.2rem;
                }
            }

            p {
                font-size: 1.3rem;
                color: #ffffff;
                text-align: justify;

                @media (max-width: 1024px) {
                    font-size: 1.15rem;
                }

                @media (max-width: 768px) {
                    font-size: 1.05rem;
                }

                @media (max-width: 480px) {
                    font-size: 0.95rem;
                }
            }

            button {
                width: 30%;
                height: 40px;
                font-size: 1.2rem;
                font-weight: bold;
                background-color: #ffa634;
                color: black;
                border: none;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #e5942c;
                }

                @media (max-width: 1024px) {
                    width: 40%;
                    font-size: 1.05rem;
                }

                @media (max-width: 768px) {
                    width: 60%;
                    font-size: 1rem;
                }

                @media (max-width: 480px) {
                    width: 100%;
                    font-size: 0.95rem;
                }
            }
        }

        .boxMainCards{
            width: 100%;
            height: 50%;
            padding-top: 2.5rem;
            padding-bottom: 2rem;

            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}
