.main{
    width: 100%;
    height: 90vh;


    .boxMain{
        width: 80%;
        height: 100%;
        margin: 0 auto;
        padding-top: 2rem;

        .boxMainContent{
            width: 50%;
            height: 50%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            img{
                width: 40%;
                height: auto;
            }

            h1{
                font-size: 4rem;
                color:#ffffff;
            }

            p{
                font-size: 1.3rem;
                color:#ffffff;
                text-align: justify;
            }

            button{
                width: 30%;
                height: 40px;
                font-size: 1.2rem;
                font-weight: bold;
                background-color: #FFA634;
                color:black;
                border: none;
                border-radius: 5px;
                cursor: pointer;

                &:hover{
                    background-color: #e5942c;
                }
            }
        }
    }
}