.card {
  width: 280px;
  border-radius: 0.75rem;
  overflow: hidden;
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  }

  @media (max-width: 1024px) {
    width: 220px;
  }

  @media (max-width: 768px) {
    width: 45%;   /* 2 por linha */
  }

  @media (max-width: 480px) {
    width: 50%;  /* 1 por linha */
    height: 45%;
  }
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.1));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0.75rem;
  gap: 0.3rem;

  h3 {
    color: #fff;
    font-size: 1.5rem;

    @media (max-width: 1024px) {
      font-size: 1.3rem;
    }
    @media (max-width: 768px) {
      font-size: 1.1rem;
    }
  }

  span {
    color: #ffa634;
    font-size: 0.85rem;

    @media (max-width: 768px) {
      font-size: 0.8rem;
    }
  }
}
