.ratingCard {
  display: flex;
  gap: 8px;
}
.star {
  font-size: 2.2rem;
  color: #fff;
  cursor: pointer;
  transition: transform 0.15s, color 0.15s;

  &.inactive {
    color: #fff;
    text-shadow: 0 0 1px #aaa;
  }

  &.active {
    color: #ffd700;
    text-shadow: 0 1px 8px #ffaa0060;
  }

  &.hovered {
    transform: scale(1.25);
  }
}
